
# !*.pdf
/lab2_template_de1soc/db
/lab2_template_de1soc/incremental_db
/lab2_template_de1soc/*
!/lab2_template_de1soc/*.v
!/lab2_template_de1soc/*.sv
!/lab2_template_de1soc/*.md
/output_files
/db
!*.v
*.sof
*.jic
*.*f
*.hex
*.mp3